# Assignment #7 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name: Justin Davis 
</br>
Date: 04/09/25
<br>
<br>
**At this time in the semester:** <br>
- We have explored a dataset. <br>
- We have cleaned our dataset. <br>
- We created a Github account with a repository for this class and included a metadata read me file about our data. <br>
- We introduced general SQL syntax, queries, and applications in Python.<br>
- Created our own databases from scratch using MySQL Workbench and Python with SQLAlchemy/SQlConnector on our local server and locally on our machine.
<br>

Now we will populate and create **all** tables for our dataset into our database and finalize our ERR diagram.<br>

We created a database three different ways in our previous assignment; One database on our local MySQL server, one test database stored locally that integrates with MySQL and one test database stored only locally as a .db file on your machine. Now we will create all tables and populate your tables with your data from your dataset (Feel free to practice with all methods, but it is encouraged to use the first method that will allow you to create your schema diagram). After populating your database, create a visual database schema diagram in MySQL Workbench. <br>
<br>
Be sure to comment all code. Include a .png image of your database schema from MySQL Workbench in your Blackboard submission or Github repository.

In [21]:
# Load necessary packages:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation
from sqlalchemy import text

In [22]:
# Connect to the MySQL server 
conn = mysql.connector.connect(
        host="localhost", #This is your local instance number when you open MySQL Workbench.
        user="root", #This is your username for MySQL Workbench
        password="DataGathering2025") #We wrote this password down in our first class!

cursor = conn.cursor()

#CREATE DATABASE (SQL command) if it does not already exist
cursor.execute("CREATE DATABASE IF NOT EXISTS clean_nutrition")

print("Database created successfully in MySQL Workbench! Go check it out.")

Database created successfully in MySQL Workbench! Go check it out.

In [23]:
# Time to connect to the database using SQL Alchemy:
DATABASE_URL = "mysql+mysqlconnector://root:DataGathering2025@localhost/clean_nutrition" # Use MySQL Connector to connect to the database
engine = create_engine(DATABASE_URL) # Creates a connection to the MySQL database

print("Connected to clean_nutrition database successfully!")

Connected to clean_nutrition database successfully!

In [24]:
# Read in the CLEAN .csv file (Using pandas) we will use to populate our database. This is the same dataset that you cleaned for Assignment #2!
nutrition = pd.read_csv("clean_nutrition.csv" ,delimiter=",")
#making sure the csv file is read in as a dataframe
nutrition = pd.DataFrame(nutrition)

In [25]:
# Preview the dataframe by looking at the first five rows.
nutrition.head()

,food,caloric_value,fat,saturated_fats,monounsaturated_fats,polyunsaturated_fats,carbohydrates,sugars,protein,dietary_fiber,...,calcium,copper,iron,magnesium,manganese,phosphorus,potassium,selenium,zinc,nutrition_density
0,abalone,89,0.600,0.100,0.020,0.091,5.1,0.0,14.500,0.000,...,26.4,0.2,2.700,40.800,0.014,161.5,212.5,0.095,0.700,51.092
1,abiyuch,157,0.200,0.065,0.000,0.000,40.1,19.5,3.400,12.100,...,18.2,0.1,3.700,54.700,0.400,107.2,693.1,0.000,0.700,201.000
2,acerola cherry,2,0.052,0.074,0.086,0.036,0.4,0.0,0.079,0.077,...,0.0,0.6,0.007,0.021,0.900,0.0,0.5,7.000,0.045,0.707
3,acerola cherry juice,56,0.700,0.200,0.200,0.200,11.6,10.9,1.000,0.700,...,24.2,0.2,1.200,29.000,0.000,21.8,234.7,0.061,0.200,3911.400
4,acorn dried,144,8.900,1.200,5.600,1.700,15.2,0.0,2.300,0.000,...,15.3,0.2,0.300,23.200,0.400,29.1,200.6,0.000,0.200,42.000

In [26]:
#going to create 5 tables: foods, macronutrients, micronutrients_vitamins, 
#micronutrients_minerals, and nutrition_scoring

#each table is going to include the caloric value as well

#establishing a connection to database 
with engine.connect() as connection:
    
    #creating the foods table 
    #going to contain the unique ID for each food and the name of the foods
    create_foods_table = """
    CREATE TABLE IF NOT EXISTS Foods (
        food_id INT PRIMARY KEY AUTO_INCREMENT,
        food VARCHAR(255) UNIQUE  
    );
    """

    #creating the macronutrients table
    #this table is going to contain the foreign key linking to the foods table
    #this table is also going to contain macronutrients like proteins, carbs, and fats
    create_macros_table = """
    CREATE TABLE IF NOT EXISTS Macronutrients (
        food_id INT,
        caloric_value INT,
        fat FLOAT,
        saturated_fats FLOAT,
        monounsaturated_fats FLOAT,
        polyunsaturated_fats FLOAT,
        carbohydrates FLOAT,
        sugars FLOAT,
        protein FLOAT,
        dietary_fiber FLOAT,
        water FLOAT,
        FOREIGN KEY (food_id) REFERENCES Foods(food_id)
    );
    """

    #creating the micronutrients_vitamins table
    #this table is going to contain a foreign key link to the foods table
    #this table is also going to contain the vitamin data for each food
    create_vitamins_table = """
    CREATE TABLE IF NOT EXISTS Micronutrients_Vitamins (
        food_id INT,
        caloric_value INT,
        vitamin_a FLOAT,
        vitamin_b1 FLOAT,
        vitamin_b11 FLOAT,
        vitamin_b12 FLOAT,
        vitamin_b2 FLOAT,
        vitamin_b3 FLOAT,
        vitamin_b5 FLOAT,
        vitamin_b6 FLOAT,
        vitamin_c FLOAT,
        vitamin_d FLOAT,
        vitamin_e FLOAT,
        vitamin_k FLOAT,
        FOREIGN KEY (food_id) REFERENCES Foods(food_id)
    );
    """

    #creating the micronutrients_minerals table
    #this table is going to contain a foreign key link to the foods table
    #this table is also going to contain any mineral data 
    create_minerals_table = """
    CREATE TABLE IF NOT EXISTS Micronutrients_Minerals (
        food_id INT,
        caloric_value INT,
        calcium FLOAT,
        copper FLOAT,
        iron FLOAT,
        magnesium FLOAT,
        manganese FLOAT,
        phosphorus FLOAT,
        potassium FLOAT,
        selenium FLOAT,
        sodium FLOAT,
        zinc FLOAT,
        FOREIGN KEY (food_id) REFERENCES Foods(food_id)
    );
    """

    #creating nutrition_scoring table
    #this table is going to contain a foreign key link to the foods table
    #this table is also going to contain the cholesterol content and the 
    #calculated score of nutrient density 
    create_scoring_table = """
    CREATE TABLE IF NOT EXISTS Nutrition_Scoring (
        food_id INT,
        caloric_value INT,
        cholesterol FLOAT,
        nutrition_density FLOAT,
        FOREIGN KEY (food_id) REFERENCES Foods(food_id)
    );
    """

    #executing all table creation queries
    connection.execute(text(create_foods_table))
    connection.execute(text(create_macros_table))
    connection.execute(text(create_vitamins_table))
    connection.execute(text(create_minerals_table))
    connection.execute(text(create_scoring_table))

print("All functional-design tables created successfully!")

All functional-design tables created successfully!

In [27]:
#creating a transaction block for inserting data 
with engine.begin() as connection:
    #creating a for loop to iterate over each row in the dataframe 
    for index, row in nutrition.iterrows():
        #inserting food into the 'Foods' table 
        #adding a section where if there is a duplicate, then it will not add the duplicate
        insert_food_query = text("""
            INSERT INTO Foods (food)
            VALUES (:food)
            ON DUPLICATE KEY UPDATE food = food
        """)
        connection.execute(insert_food_query, {"food": row['food']})

        #getting the food_id of the existing food item 
        get_food_id_query = text("SELECT food_id FROM Foods WHERE food = :food")
        food_id_result = connection.execute(get_food_id_query, {"food": row['food']})
        food_id = food_id_result.fetchone()[0] #extract the first column (food_id) from result

        #inserting macronutrients into the macronutrients table
        insert_macros = text("""
            INSERT INTO Macronutrients (
                food_id, caloric_value, fat, saturated_fats, monounsaturated_fats, polyunsaturated_fats,
                carbohydrates, sugars, protein, dietary_fiber, water
            ) VALUES (
                :food_id, :caloric_value, :fat, :saturated_fats, :monounsaturated_fats, :polyunsaturated_fats,
                :carbohydrates, :sugars, :protein, :dietary_fiber, :water
            )
        """)
        connection.execute(insert_macros, {
            "food_id": food_id,
            "caloric_value": row['caloric_value'],
            "fat": row['fat'],
            "saturated_fats": row['saturated_fats'],
            "monounsaturated_fats": row['monounsaturated_fats'],
            "polyunsaturated_fats": row['polyunsaturated_fats'],
            "carbohydrates": row['carbohydrates'],
            "sugars": row['sugars'],
            "protein": row['protein'],
            "dietary_fiber": row['dietary_fiber'],
            "water": row['water']
        })

        #inserting micronutrients_vitamins into the micronutrients_vitamins table
        insert_vitamins = text("""
            INSERT INTO Micronutrients_Vitamins (
                food_id, caloric_value, vitamin_a, vitamin_b1, vitamin_b11, vitamin_b12, vitamin_b2,
                vitamin_b3, vitamin_b5, vitamin_b6, vitamin_c, vitamin_d, vitamin_e, vitamin_k
            ) VALUES (
                :food_id, :caloric_value, :vitamin_a, :vitamin_b1, :vitamin_b11, :vitamin_b12, :vitamin_b2,
                :vitamin_b3, :vitamin_b5, :vitamin_b6, :vitamin_c, :vitamin_d, :vitamin_e, :vitamin_k
            )
        """)
        connection.execute(insert_vitamins, {
            "food_id": food_id,
            "caloric_value": row['caloric_value'],
            "vitamin_a": row['vitamin_a'],
            "vitamin_b1": row['vitamin_b1'],
            "vitamin_b11": row['vitamin_b11'],
            "vitamin_b12": row['vitamin_b12'],
            "vitamin_b2": row['vitamin_b2'],
            "vitamin_b3": row['vitamin_b3'],
            "vitamin_b5": row['vitamin_b5'],
            "vitamin_b6": row['vitamin_b6'],
            "vitamin_c": row['vitamin_c'],
            "vitamin_d": row['vitamin_d'],
            "vitamin_e": row['vitamin_e'],
            "vitamin_k": row['vitamin_k']
        })

        #inserting the micronutrients_minerals into the micronutrients_minerals table
        insert_minerals = text("""
            INSERT INTO Micronutrients_Minerals (
                food_id, caloric_value, calcium, copper, iron, magnesium, manganese,
                phosphorus, potassium, selenium, sodium, zinc
            ) VALUES (
                :food_id, :caloric_value, :calcium, :copper, :iron, :magnesium, :manganese,
                :phosphorus, :potassium, :selenium, :sodium, :zinc
            )
        """)
        connection.execute(insert_minerals, {
            "food_id": food_id,
            "caloric_value": row['caloric_value'],
            "calcium": row['calcium'],
            "copper": row['copper'],
            "iron": row['iron'],
            "magnesium": row['magnesium'],
            "manganese": row['manganese'],
            "phosphorus": row['phosphorus'],
            "potassium": row['potassium'],
            "selenium": row['selenium'],
            "sodium": row['sodium'],
            "zinc": row['zinc']
        })

        #inserting the nutrition_scoring into nutrition_scoring table
        insert_scoring = text("""
            INSERT INTO Nutrition_Scoring (
                food_id, caloric_value, cholesterol, nutrition_density
            ) VALUES (
                :food_id, :caloric_value, :cholesterol, :nutrition_density
            )
        """)
        connection.execute(insert_scoring, {
            "food_id": food_id,
            "caloric_value": row['caloric_value'],
            "cholesterol": row['cholesterol'],
            "nutrition_density": row['nutrition_density']
        })

print("All data inserted into functional tables successfully!")

All data inserted into functional tables successfully!

In [28]:
#Close the database connection :)
cursor.close()
conn.close()

**MySQL Workbench**<br>
To export your database schema as a .PNG:<br>
->Go to your EER Diagram<br>
->File<br>
->Export<br>
->Export as .PNG