# Assignment #6 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name: Justin Davis
</br>
Date: 03/06/25
<br>
<br>
**At this time in the semester:** <br>
- We have explored a dataset. <br>
- We have cleaned our dataset. <br>
- We created a Github account with a repository for this class and included a metadata read me file about our data. <br>
- We introduced general SQL syntax, queries, and applications in Python.<br>
<br>
Now we will start the process of uploading our dataset into a database. There are many different ways to upload your .csv data into a database (.db file). Databases can be created in many open source applications, MySQL workbench, and even some websites can load your .csv data into a database...for a small fee. Instead of using an application, we are going to first create our database for our dataset from scratch in Python. On a much larger scale, data may be automatically uploaded to a database once it is aquired.<br>

#### Assignment #6 Objectives

We will use the Python packages SQL Alchemy and SQLite to create three separate databases for practice. 
- Create one database on our MySQL server (10)
  - Create and populate our first table with appropriate data types
  - View the MySQL workbench schema to see the table you created
- Create one test database locally that we can still use with MySQL (3)
- Create one test database locally as a .db file. (2) <br>
<br>
Follow the instructions below to complete the assignment. For submission, please include your .ipynb file with output cells (Or a link to Github), and the screen shot of your first database table in MySQL Workbench. Answer any questions in markdown cell boxes. Be sure to comment all code in your own words.

### Creating our database from scratch to integrate with MySQL Workbench in Python<br>

**BEFORE YOU BEGIN!**<br>
Is your MySQL Server running on your local machine?<br>
**Start the server** if it is not running already.

We need the MySQL connector to work with Python since we are using SQLAlchemy with MySQL Workbench. Let's install the MySQL driver. Run the following code in a terminal window to install the MySQL connector: <br>
pip install mysql-connector-python mysql-connector

#### Creating a database from scratch in Python using SQL Alchemy<br>
Additional sources: <br>
-- https://medium.com/@sandyjtech/creating-a-database-using-python-and-sqlalchemy-422b7ba39d7e <br>
-- https://www.youtube.com/watch?v=xr7vDSFXjW0 <br>
-- https://www.geeksforgeeks.org/how-to-design-a-database-for-spotify/ (My specific inspiration for understanding a Spotify schema)

In [15]:
# Load necessary packages:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

Open MySQL Workbench.
- Click on Local Instance (This is your port number - if needed)

In [16]:
# Connect to the MySQL server 
# Define our variables. We set these during our first class in our technology set up. 
# If you are unsure of these variables, do not guess. 
# Visit MySQL Workbench for the localport number, host and user.

conn = mysql.connector.connect(
        host="localhost", # This is your local instance number when you open MySQL Workbench.
        user="root", # This is your username for MySQL Workbench
        password="DataGathering2025") # We wrote this password down in our first class!

# In order to connect to the server, we must include all of the above.

cursor = conn.cursor()

# CREATE DATABASE (SQL command) if it does not already exist
cursor.execute("CREATE DATABASE IF NOT EXISTS clean_nutrition")
# MySQL_SpotifyDatabase will be the name when the database is created.

print("Database created successfully in MySQL Workbench! Go check it out.")

Database created successfully in MySQL Workbench! Go check it out.

**STOP**<br><br>
Confirm your database was created before continuing. <br> <br>
Open MySQL Workbench.<br>
Under MySQL Connections, click Local Instance<br>
Click the Schemas tab<br>
**You should now see a new (empty) database that you created**<br>
If it does not show up right away, hit refresh (The circular arrows)

In [17]:
# Time to connect to the database using SQL Alchemy:
DATABASE_URL = "mysql+mysqlconnector://root:DataGathering2025@localhost/clean_nutrition" # Use MySQL Connector to connect to the database
engine = create_engine(DATABASE_URL) # Creates a connection to the MySQL database

print("Connected to clean_nutrition database successfully!")

Connected to clean_nutrition database successfully!

In [18]:
# Read in the CLEAN .csv file (Using pandas) we will use to populate our database. This is the same dataset that you cleaned for Assignment #2!
nutrition = pd.read_csv("clean_nutrition.csv" ,delimiter=",")
#making sure the csv file is read in as a dataframe
nutrition = pd.DataFrame(nutrition)

In [19]:
# Preview the dataframe by looking at the first five rows.
nutrition.head()

,food,caloric_value,fat,saturated_fats,monounsaturated_fats,polyunsaturated_fats,carbohydrates,sugars,protein,dietary_fiber,...,calcium,copper,iron,magnesium,manganese,phosphorus,potassium,selenium,zinc,nutrition_density
0,abalone,89,0.600,0.100,0.020,0.091,5.1,0.0,14.500,0.000,...,26.4,0.2,2.700,40.800,0.014,161.5,212.5,0.095,0.700,51.092
1,abiyuch,157,0.200,0.065,0.000,0.000,40.1,19.5,3.400,12.100,...,18.2,0.1,3.700,54.700,0.400,107.2,693.1,0.000,0.700,201.000
2,acerola cherry,2,0.052,0.074,0.086,0.036,0.4,0.0,0.079,0.077,...,0.0,0.6,0.007,0.021,0.900,0.0,0.5,7.000,0.045,0.707
3,acerola cherry juice,56,0.700,0.200,0.200,0.200,11.6,10.9,1.000,0.700,...,24.2,0.2,1.200,29.000,0.000,21.8,234.7,0.061,0.200,3911.400
4,acorn dried,144,8.900,1.200,5.600,1.700,15.2,0.0,2.300,0.000,...,15.3,0.2,0.300,23.200,0.400,29.1,200.6,0.000,0.200,42.000

In [20]:
# What are all of the column names and data types for our dataset? 
for column, dtype in nutrition.dtypes.items():
    print(f"{column}: {dtype}") #created a for loop that contains what the column name and the column types. 
# It is important to know the column names from the .csv because these are the field names we will want to use for our first table.
# Remember, the field names represent the column names of the csv/table.

food: object
caloric_value: int64
fat: float64
saturated_fats: float64
monounsaturated_fats: float64
polyunsaturated_fats: float64
carbohydrates: float64
sugars: float64
protein: float64
dietary_fiber: float64
cholesterol: float64
sodium: float64
water: float64
vitamin_a: float64
vitamin_b1: float64
vitamin_b11: float64
vitamin_b12: float64
vitamin_b2: float64
vitamin_b3: float64
vitamin_b5: float64
vitamin_b6: float64
vitamin_c: float64
vitamin_d: float64
vitamin_e: float64
vitamin_k: float64
calcium: float64
copper: float64
iron: float64
magnesium: float64
manganese: float64
phosphorus: float64
potassium: float64
selenium: float64
zinc: float64
nutrition_density: float64

If you are an experienced Python user, you can create a base Python class for all of our tables before populating them and use built in SQLAlchemy features. <br>
To practice SQL, we will create our database from scratch using SQL commands in Python instead.

In [21]:
with engine.connect() as connection:
    # Create the database if it doesn't exist
    connection.execute(text('CREATE DATABASE IF NOT EXISTS clean_nutrition;'))

We can use a new SQL statement CREATE TABLE to create our first table in our new database by writing a query.<br>
Everyone's data is different! Choose the SQL data types that fit YOUR data needs!<br>
SQL Data Types: https://www.w3schools.com/sql/sql_datatypes.asp

In [22]:
# Create our first table in the database file using SQL statements:
# We want our table column names to match what is in the .csv file
with engine.connect() as connection:
    #SQL query to create nutrition table if it doesn't already exist 
    first_table_query = """CREATE TABLE IF NOT EXISTS nutrition ( 
                            id INT PRIMARY KEY AUTO_INCREMENT,
                            food VARCHAR(255),
                            caloric_value INT,
                            fat FLOAT,
                            saturated_fats FLOAT,
                            monounsaturated_fats FLOAT,
                            polyunsaturated_fats FLOAT,
                            carbohydrates FLOAT,
                            sugars FLOAT,
                            protein FLOAT,
                            dietary_fiber FLOAT,
                            cholesterol FLOAT,
                            sodium FLOAT,
                            water FLOAT,
                            vitamin_a FLOAT,
                            vitamin_b1 FLOAT,
                            vitamin_b11 FLOAT,
                            vitamin_b12 FLOAT,
                            vitamin_b2 FLOAT,
                            vitamin_b3 FLOAT,
                            vitamin_b5 FLOAT,
                            vitamin_b6 FLOAT,
                            vitamin_c FLOAT,
                            vitamin_d FLOAT,
                            vitamin_e FLOAT,
                            vitamin_k FLOAT,
                            calcium FLOAT,
                            copper FLOAT,
                            iron FLOAT,
                            magnesium FLOAT,
                            manganese FLOAT,
                            phosphorus FLOAT,
                            potassium FLOAT,
                            selenium FLOAT,
                            zinc FLOAT,
                            nutrition_density FLOAT
                            );"""
    connection.execute(text(first_table_query))
#id INT PRIMARY KEY AUTO_INCREMENT is a primary key for each nutrition entry with auto-incrementing values
#food VARCHAR(255) is a column to store the name of the food item (max length 255 characters)
#caloric_value INT is a column to store the caloric value of the food (in kilocalories)
#every other column is a float type because they can regularly contain decimal values 

print("First table created successfully!")
# Note that the primary key for this table is a column/field "id"
# This is not a field that existed previously. AUTO_INCREMENT automatically generates a unique value for each new row added to the table. 
# Each new value is one greater than the previous value. We cannot make the Date column/field our primary key, because it is not unique.

First table created successfully!

Define your SQL data types for your first table: <br><br>
**My SQL data types for my first table are:

INT - A whole number. This data type is used for the id column as the primary key and for the caloric_value column to store the number of calories in the food.

VARCHAR(255) - A variable-length string. This data type is used for the food column, which stores the names of various foods with a maximum length of 255 characters.

FLOAT - A floating-point number. This data type is used for several nutritional content columns like fat, saturated_fats, protein, carbohydrates, and others. It allows us to store decimal values, such as 0.5 or 1.25, which are needed for precise nutritional information.**<br>

Why did you choose these values to make up your first database table? What did you choose for your primary key and why?

VARCHAR(255) for food: This data type allows for flexible length, accommodating a wide range of food names, with up to 255 characters. 

INT for caloric_value: I used an INT for calorie count because it efficiently stores whole numbers, which is perfect for representing food calories without needing decimals.

FLOAT for nutrients (e.g., fat, protein, carbohydrates): Since nutrients are measured in decimal values, FLOAT is ideal. 

FLOAT for trace minerals (e.g., calcium, iron, zinc): Similarly, FLOAT is used for trace minerals as their values are often decimal-based and require precision for accurate representation of content per food item.

In [23]:
# There are multiple ways to populate the fields of the table. 
# Another option is to add a subset of the data into data table, and then populate the database table.
# Please feel free to change or alter the code below.
# This example uses the MySQL connector:

with engine.connect() as connection:
    #iterate through DataFrame rows
    for index, row in nutrition.iterrows():
        #construct and execute INSERT statement
        query = f"""INSERT INTO nutrition (
                        food, caloric_value, fat, saturated_fats, monounsaturated_fats, polyunsaturated_fats,
                        carbohydrates, sugars, protein, dietary_fiber, cholesterol, sodium, water,
                        vitamin_a, vitamin_b1, vitamin_b11, vitamin_b12, vitamin_b2, vitamin_b3, vitamin_b5,
                        vitamin_b6, vitamin_c, vitamin_d, vitamin_e, vitamin_k, calcium, copper, iron,
                        magnesium, manganese, phosphorus, potassium, selenium, zinc, nutrition_density
                    ) VALUES (
                        '{row['food']}',
                        {row['caloric_value']},
                        {row['fat']},
                        {row['saturated_fats']},
                        {row['monounsaturated_fats']},
                        {row['polyunsaturated_fats']},
                        {row['carbohydrates']},
                        {row['sugars']},
                        {row['protein']},
                        {row['dietary_fiber']},
                        {row['cholesterol']},
                        {row['sodium']},
                        {row['water']},
                        {row['vitamin_a']},
                        {row['vitamin_b1']},
                        {row['vitamin_b11']},
                        {row['vitamin_b12']},
                        {row['vitamin_b2']},
                        {row['vitamin_b3']},
                        {row['vitamin_b5']},
                        {row['vitamin_b6']},
                        {row['vitamin_c']},
                        {row['vitamin_d']},
                        {row['vitamin_e']},
                        {row['vitamin_k']},
                        {row['calcium']},
                        {row['copper']},
                        {row['iron']},
                        {row['magnesium']},
                        {row['manganese']},
                        {row['phosphorus']},
                        {row['potassium']},
                        {row['selenium']},
                        {row['zinc']},
                        {row['nutrition_density']}
                    )"""
        #each of the rows are just inserting the content for the table 
        # Execute the query
        connection.execute(text(query))

    # Commit the transaction
    connection.commit()

**STOP**<br><br>
In MySQL Workbench, you should see your new table that you have created and populated.<br>
You can now run a SQL query directly in MySQL Workbench!<br>
You can also run a query below to test it:

In [24]:
# Now that we have populated our table, let's try out a query.

with engine.connect() as connection:  # Establish a connection
    practice_query = text("""SELECT * 
                             FROM nutrition 
                             WHERE caloric_value > 100;
                                 """) # Define the query - text() ensures that the query string is read as a SQL expression 
    #created a query that finds all foods from nutrition where a caloric value is greater than 100
    practice_query = pd.read_sql(practice_query, connection) #Use pandas to read the sql query with the connection to the database
    
# Print the results
practice_query

,id,food,caloric_value,fat,saturated_fats,monounsaturated_fats,polyunsaturated_fats,carbohydrates,sugars,protein,...,calcium,copper,iron,magnesium,manganese,phosphorus,potassium,selenium,zinc,nutrition_density
0,2,abiyuch,157,0.2,0.065,0.000,0.0,40.1,19.5,3.4,...,18.2,0.100,3.7,54.7,0.400,107.2,693.1,0.000,0.7,201.000
1,5,acorn dried,144,8.9,1.200,5.600,1.7,15.2,0.0,2.3,...,15.3,0.200,0.3,23.2,0.400,29.1,200.6,0.000,0.2,42.000
2,6,acorn flour,626,37.7,4.900,23.900,7.3,68.3,0.0,9.4,...,53.8,0.800,1.5,137.5,2.200,128.8,890.0,0.000,0.8,170.700
3,7,acorn raw,110,6.8,0.900,4.300,1.3,11.5,0.0,1.7,...,11.6,0.200,0.2,17.5,0.400,22.4,152.5,0.000,0.1,31.800
4,8,acorn squash cooked,115,0.3,0.023,0.072,0.1,29.9,0.0,2.3,...,90.2,0.200,1.9,88.2,0.500,92.3,895.9,0.070,0.3,155.700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982,7173,yellowtail raw,546,19.6,4.800,7.400,5.3,0.0,0.0,86.5,...,86.0,0.200,1.8,112.2,0.002,587.2,1570.8,0.100,1.9,204.500
3983,7175,yogurt low fat,154,3.8,2.500,1.000,0.1,17.2,17.2,12.9,...,448.4,0.005,0.2,41.7,0.039,352.8,573.3,0.071,2.2,484.517
3984,7176,yogurt parfait,125,1.5,0.800,0.500,0.2,23.6,17.4,5.0,...,156.5,0.025,0.7,25.3,0.000,138.6,281.6,0.088,1.3,210.272
3985,7180,zante currants dried,408,0.4,0.009,0.003,0.3,106.7,96.9,5.9,...,123.8,0.700,4.7,59.0,0.700,180.0,1284.5,0.098,1.0,258.100
3986,7182,zinfandel red wine,129,0.0,0.000,0.000,0.0,4.2,0.0,0.1,...,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,4.300

**STOP**<br>
To create a new schema diagram for your new database (Even though it only has one table...it's good practice!)<br>
Open MySQL Workbench again<br>
Click Home<br>
Click the Models icon<br>
Click the > icon to the right of "Models"<br>
Choose “Create EER Model from Database” <br>
The Reverse Engineer Database Wizard starts and will walk you through your first database schema diagram.<br>
Save your model. <br>
You can now add relationships and or modify tables...but for this assignment, all we need is that first table. <br>

**Add a screen shot of your first schema diagram (The table) to your repository/Blackboard subission.**

![Screenshot](Screenshot%202025-03-27%20at%2012.56.51%20AM.png) <br>
Tried to add a screenshot here but it wasn't working out.

In [25]:
#Close the database connection :)
cursor.close()
conn.close()

### Creating a local database from scratch

#### Creating a local database from scratch in Python using SQL Alchemy for MySQL Workbench:<br>
Another example: https://blog.sqlitecloud.io/sqlite-python-sqlalchemy

In [26]:
# BEFORE YOU BEGIN!
# Is your MySQL Server running on your local machine?
# Doesn't matter this time, please continue! :)
from sqlalchemy import create_engine, text

In [27]:
# The only database connection parameters we need here are the name of the database we just created locally
# NOTE: We are not using the local host, but can still connect our database to MySQL
DATABASE_URL = "mysql+mysqlconnector://root:DataGathering2025@127.0.0.1/X"

In [28]:
engine = create_engine(DATABASE_URL)  # Creates a local database file in the SAME directory as this document.

In [29]:
# Connect to the database engine
with engine.connect() as connection:
    # Execute the CREATE DATABASE query
    connection.execute(text("CREATE DATABASE IF NOT EXISTS nutrition_local"))

print("Database created or already exists.")

Database created or already exists.

In [30]:
# Close your connection :)
conn.close()

**STOP HERE**<br>
Before moving on, it is **important** to understand the difference of what we have just completed. Using SQL Alchemy, we have created a database LOCALLY. Notice we did not specify a specific host, BUT we did specify a user and password! This means we can access this database locally in MySQL Workbench if we choose.

#### Creating a local database (.db file) from scratch in Python using SQLite:<br>

In [31]:
# Load necessary packages:
from sqlalchemy import create_engine, inspect, text # Database navigation
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

In [32]:
# Load the .csv subset again if you need to if you are starting over 
nutrition = pd.read_csv("clean_nutrition.csv" ,delimiter=",")
#making sure the csv file is read in as a dataframe
nutrition = pd.DataFrame(nutrition)

# Create a SQLite database and engine
db_file = "nutrition.db"
engine = create_engine(f"sqlite:///{db_file}")

# Store the dataframe in the database as a single table for quick practice (Never recommended, especially for large data sets) 
nutrition.to_sql("nutrition", con=engine, if_exists="replace", index=False)

2395

**STOP HERE**<br>
This method creates a database as a file on our local machine. The .db file is created in the same location or working directory you are currently in (Go check!). If you did not specify a working directory, the .db file is created where this .ipynb is located.

In [33]:
#Close the database connection :)
conn.close()